@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Markazi Text', cursive;
}

html {
    font-size: 62.5%;
}

section {
    padding: 1rem 5rem;
}

.btn {
    color: #b66d00;
    background-color: white;
    padding: 1rem 2rem;
    margin-top: .8rem;
    margin-bottom: .5rem;
    display: inline-block;
    font-size: 2rem;
    box-shadow: .2rem .2rem .4rem #b66d001e;
    transition: .3s linear;
}

.btn:hover {
    background: #2c104650;
    color: #ffffff;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s ease;
}

.reveal.reveal-style {
    transform: translateY(-5px);
    opacity: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(248, 229, 193);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: .2rem .2rem 1rem rgba(56, 38, 3, 0.13);
}

.header .avatar {
    font-family: 'Waterfall';
    font-size: 5rem;
}

.header .avatar img {
    width: 7rem;
    border-radius: 50%;
    height: 7rem;
    object-fit: cover;
}

.header nav {
    display: flex;
}

.header nav a {
    font-size: 2.5rem;
    color: rgb(145, 115, 76);
    margin-left: 4rem;
    position: relative;
}

.header nav a i {
    font-size: 1.5rem;
    margin-right: 2rem;
    color: rgb(104, 75, 75);
    display: none;
}

.header nav a:hover {
    color: rgb(116, 67, 7);
}

.header nav a:after {
    transform: scaleX(0);
    content: "";
    position: absolute;
    width: 70%;
    height: 3rem;
    bottom: -1.7rem;
    right: 0;
    background: url('images/underline.png');
    z-index: 2000;
    background-size: cover;
    background-position: center;
    transition: .25s ease-out;
}

.header nav a:hover:after {
    transform: scaleX(1.5);
    transform-origin: bottom right;
}

.header nav a.active::after {
    transform: scaleX(0);
    content: "";
    position: absolute;
    width: 70%;
    height: 3rem;
    bottom: -1.7rem;
    right: 0;
    background: url('images/underline.png');
    z-index: 2000;
    background-size: cover;
    background-position: center;
    transform: scaleX(1.5);
    transform-origin: bottom right;
}

.header nav .copy-right {
    font-size: 2.5rem;
    color: rgb(145, 115, 76);
    margin-top: 1rem;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.171);
    text-align: center;
    display: none;
}

.header #menu {
    font-size: 2rem;
    display: none;
}

.introduction {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem; */
    padding-top: 78px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    position: relative;
}

.heading h1 {
    font-size: 10rem;
    font-family: 'Waterfall';
    color: rgb(88, 71, 45);
    text-shadow: 2px 2px 2px #e0e0e0;
    text-align: center;
    font-weight: bold;
}

.heading span {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    color: transparent;
    -webkit-text-stroke: .05rem black;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.heading span.underline {
    top: 70%;
    height: .5rem;
    width: 100%;
    background-color: #49494905;
    z-index: 0;
}

.introduction .grid {
    flex: 1 1 50rem;
    text-align: center;
    margin: 0 10rem;
}

.short-note .content h2 {
    font-size: 2.5rem;
    color: rgba(105, 66, 8, 0.822);
    line-height: 1.5;
    font-weight: normal;
}

.grid {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.grid-col {
    flex: 1;
}

.grid-item {
    margin-top: 2rem;
}

.grid-item img {
    width: 100%;
}

.contents .content .box-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 4rem;
}

.contents .content .box-container .box {
    flex: 1 1 35rem;
    padding: 2rem;
    background-color: #b66d00;
    position: relative;
    text-align: right;
    box-shadow: .5rem .5rem .4rem rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.contents .content .box-container h3 {
    font-size: 3.5rem;
    font-weight: normal;
    color: #ffffff;
    text-shadow: .2rem 0 #07292e93;
    margin-bottom: 1rem;
    text-align: left;
    text-transform: uppercase;
}

.contents .content .box-container i {
    position: absolute;
    top: .5rem;
    right: .7rem;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    color: #bd7100;
    background-color: white;
    margin-right: .7rem;
    margin-top: .7rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3.7rem;
}

.contents .content .box-container p {
    font-size: 2.3rem;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
}

.footer {
    background-color: rgba(250, 238, 216, 0.685);
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer .box-container .box {
    flex: 1 1 45rem;
    display: flex;
    flex-direction: column;
    border-bottom: .1rem solid #91570069;
    padding-bottom: .5rem;
}

.footer .box-container .box .flex {
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box .flex a {
    flex-basis: calc(100%/3);
    margin-bottom: 1.5rem;
}

.footer .box-container .box:last-child {
    border: none;
}

.footer .box-container .box h3 {
    font-size: 5.5rem;
    font-weight: normal;
    font-family: 'Waterfall';
    margin-bottom: 2.5rem;
    color: #492e06;
}

.footer .box-container .box a {
    font-size: 2.5rem;
    color: #794800;
    margin-bottom: 1.5rem;
    display: inline-block;
    width: auto;
}

.footer .box-container .box a i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #794800;
    display: inline-block;
    width: .8rem;
}

.footer .box-container .box:nth-child(2) a i {
    width: 1.8rem;
}

.footer .box-container .box:last-child a i {
    width: 1rem;
}

.footer .box-container .box a:hover {
    color: #bd7100;
}

.am-an-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
}

.am-an-content iframe {
    flex: 1 1 .5rem;
    margin-bottom: .5rem;
}











@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header nav a {
        margin-left: 2.5rem;
    }
}


@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    section {
        padding: 2rem;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .header nav.active {
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: .5s all;
    }

    .header nav .copy-right {
        display: block;
    }

    .header #menu {
        display: inline-block;
    }

    .header #menu.fa-times {
        transform: rotate(180deg);
    }

    .header nav {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(248, 229, 193);
        border-top: 1px solid rgba(146, 146, 146, 0.308);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s all;
        z-index: 1000;
    }

    .header nav a {
        display: block;
        width: auto;
        margin: 2.5rem 3rem;
    }

    .header nav a i {
        display: inline-block;
    }

    .header nav a:after {
        content: "";
        background: none;
    }

    .header nav a.active::after {
        content: "";
        background: none;
    }

    .heading {
        margin: 2rem;
    }

    /* 
        ôi con gà rừng nào gáy đâu đây
        em nghe lòng mình niềm vui đong đầy 
     */

    .heading h1 {
        font-size: 8rem;
    }

    .grid {
        gap: 1rem;
        margin: 0 !important;
    }

    .introduction .grid .grid-item {
        margin-top: 1rem;
    }

    .heading span {
        font-size: 6rem;
    }
}

@media (max-width: 450px) {
    .heading span {
        font-size: 4.5rem;
    }

    .footer .box-container .box .flex a {
        width: 13rem;
    }

    .am-an-content iframe {
        margin-bottom: 1rem;
    }
}